@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color management for consistent image rendering */
img {
  color-scheme: light;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.square {
  display: flex;
  flex-wrap: wrap;
  width: 49px;
  height: 49px;
  box-sizing: content-box;
  animation: load-big 10s infinite ease-in-out;
  transform-origin: 0px 49px;
}

.mini_square {
  box-sizing: border-box;
  height: 24.5px;
  width: 24.5px;
  background-color: #D2ADCE;
  border-radius: 0;
}

.sq-1 {
  animation: load-left-top 10s infinite;
}

.sq-2 {
  animation: load-right-top 10s infinite;
}

.sq-4 {
  animation: load-right-bottom 10s infinite;
}

@keyframes load-right-bottom {
  0% {
    translate: -24.5px 0px;
  }

  25% {
    translate: 0px 0px;
  }

  100% {
    translate: 0px 0px;
  }
}

@keyframes load-right-top {
  0% {
    translate: -24.5px 24.5px;
  }

  25% {
    translate: 0px 24.5px;
  }

  50% {
    translate: 0px 0px;
  }

  100% {
    translate: 0px 0px;
  }
}

@keyframes load-left-top {
  0% {
    translate: 0px 24.5px;
  }

  25% {
    translate: 24.5px 24.5px;
  }

  50% {
    translate: 24.5px 0px;
  }

  75% {
    translate: 0px 0px;
  }

  100% {
    translate: 0px 0px;
  }
}

@keyframes load-big {
  0% {
    scale: 1;
    background-color: rgba(0, 0, 0, 0);
  }

  74% {
    scale: 1;
    background-color: rgba(0, 0, 0, 0);
  }

  75% {
    scale: 1;
    background-color: #D2ADCE;
  }

  100% {
    scale: 0.5;
    background-color: #D2ADCE;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .square {
    width: 80px;
    height: 80px;
  }

  .mini_square {
    height: 40px;
    width: 40px;
    border-radius: 0;
  }

  @keyframes load-right-bottom {
    0% {
      translate: -40px 0px;
    }

    25% {
      translate: 0px 0px;
    }

    100% {
      translate: 0px 0px;
    }
  }

  @keyframes load-right-top {
    0% {
      translate: -40px 40px;
    }

    25% {
      translate: 0px 40px;
    }

    50% {
      translate: 0px 0px;
    }

    100% {
      translate: 0px 0px;
    }
  }

  @keyframes load-left-top {
    0% {
      translate: 0px 40px;
    }

    25% {
      translate: 40px 40px;
    }

    50% {
      translate: 40px 0px;
    }

    75% {
      translate: 0px 0px;
    }

    100% {
      translate: 0px 0px;
    }
  }
}

@media (max-width: 480px) {
  .square {
    width: 40px;
    height: 40px;
    animation: load-big 10s infinite;
  }

  .mini_square {
    height: 20px;
    width: 20px;
    border-radius: 0;
  }

  @keyframes load-right-bottom {
    0% {
      translate: -20px 0px;
    }

    25% {
      translate: 0px 0px;
    }

    100% {
      translate: 0px 0px;
    }
  }

  @keyframes load-right-top {
    0% {
      translate: -20px 20px;
    }

    25% {
      translate: 0px 20px;
    }

    50% {
      translate: 0px 0px;
    }

    100% {
      translate: 0px 0px;
    }
  }

  @keyframes load-left-top {
    0% {
      translate: 0px 20px;
    }

    25% {
      translate: 20px 20px;
    }

    50% {
      translate: 20px 0px;
    }

    75% {
      translate: 0px 0px;
    }

    100% {
      translate: 0px 0px;
    }
  }
}

@font-face {
  font-family: 'Monthis';
  src: url('/fonts/monthis.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Improves loading performance */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nats';
  src: url('/fonts/nats.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Improves loading performance */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Global Nats font styling */
.font-nats {
  font-weight: 100;
  font-synthesis: weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Monthis font styling */
.font-monthis {
  font-weight: 100;
  font-synthesis: weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-primary: #351A12;
  /* Main text color */
  --text-secondary: #D2ADCE;
  /* Secondary text color */
  --text-tertiary: #F7F5ED;
  /* Tertiary text color */
  --background-rgb: #F0E5D6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: var(--text-primary);
  background: var(--background-rgb);
  font-family: 'Nats', sans-serif;
  margin: 0;
  padding: 0;
}

/* Utility classes for text colors */
.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-tertiary {
  color: var(--text-tertiary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for scrollable containers */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Revert heading styles to browser default, overriding Preflight */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: revert;
  padding: revert;
  font-size: revert;
  font-weight: revert;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Override browser autofill styling for subscribe form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #351A12 !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Subscribe form input styling - remove curves and keep only bottom line */
input[type="email"] {
  border: none !important;
  border-bottom: 1px solid #D2ADCE !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

input[type="email"]:focus {
  border: none !important;
  border-bottom: 1px solid #D2ADCE !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
.m-sectiom {
    display: flex;
    width: 100%;
}
.m-left-top {
    position: relative;
    display: flex;
    width: 30%;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.m-left-top::before {
    content: '';
    display: inline-block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    bottom: -1vw;
    left: -2%;
    z-index: 1;
}

.m-left-top-text {
    position: absolute;
    top: 16%;
    left: 16%;
    color: #fff;
    padding-right: 10%;
}
.m-sectiom img{
	opacity:0;
}
.main-section h3 {
    margin-top: 0px;
    position: relative;
    line-height: 40px;
    margin-bottom: 9px;
}

.m-medium::before {
    content: '';
    display: inline-block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    top: 19%;
    left: 10%;
    z-index: 1;
}
h3 {
    font-family: Nats;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}
.m-left-top-2 h1 {
    margin-left: 16%;
    line-height: normal;
    margin-top: -7px;
    font-size: 96px;
}

.m-medium {
    display: flex;
    width: 40%;
    position: relative;
}

.m-right-top {
    position: relative;
    display: flex;
    width: 30%;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.m-right-top-text {
    position: absolute;
    top: 16%;
    color: #fff;
    padding-left: 6%;
}

.m-medium::after {
    content: '';
    display: inline-block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    top: 19%;
    right: 10%;
    z-index: 1;
}

.svg-line-l {
    position: absolute;
    top: 0;
    left: 0;
}
.svg-line-r {
    position: absolute;
    top: -38.2%;
    right: -21.5%;
    transform: rotate(-107deg);
}

.svg-line-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.m-sectiom-2 {
    display: flex;
    width: 100%;
    margin-top: -13px;
}

.m-medium-2 {
    width: 40%;
    position: relative;
}

.m-medium-2::before {
    content: '';
    display: block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    top: -10%;
    left: 48.6%;
    z-index: 1;
}

.m-right-top-2 {
    position: relative;
    width: 30%;
    border-right: 1px solid #fff;
}

.m-left-top-2 {
    position: relative;
    width: 30%;
}

.m-right-top-2 div {
    padding-right: 20%;
    padding-left: 6%;
    padding-bottom: 32%;
}

.m-right-top-2 div.m-right-top-2-b {
    position: relative;
    top: -18%;
    padding-bottom: 20%;
}

.m-right-top-2::after {
    content: '';
    display: inline-block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    top: 3%;
    right: -1.99%;
    z-index: 1;
}
.m-right-top-2-1::after {
    content: '';
    display: inline-block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    top: -12% !important;
    right: -1.99%;
    z-index: 1;
}

.m-medium-2 div {
    padding-left: 22.5%;
    padding-right: 18.5%;
}

.b-medium-2 div {
    padding-left: 22.5%;
    padding-right: 18.5%;
    padding-top: 12%;
}

.blank::before {
    display: none;
}

.b-sectiom-2 {
    display: flex;
    width: 100%;
}
.b-medium-2 {
    width: 40%;
    position: relative;
    border-top: 1px solid #fff;
}

.b-right-top-2 {
    position: relative;
    width: 30%;
    border-top: 1px solid #fff;
}

.b-left-top-2 {
    position: relative;
    width: 30%;
    padding-left: 5%;
    padding-top: 4.8%;
}

.b-left-top-2::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 1px;
    position: absolute;
    background: #fff;
    top: 0%;
    right: 0%;
    z-index: 1;
}

.b-right-top-2 div {
    padding-right: 20%;
    padding-left: 8%;
    padding-top: 16%;
}

.b-medium-2::before {
    content: '';
    display: block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    top: -3%;
    left: 48.6%;
    z-index: 1;
}

.b-medium-2::after {
    content: '';
    display: block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    top: -3%;
    left: -10%;
    z-index: 1;
}

.b-right-top-2::after {
    content: '';
    display: inline-block;
    width: 1vw;
    height: 1vw;
    position: absolute;
    background: #D2ADCE;
    top: -3%;
    left: 8%;
    z-index: 1;
}

.m-mobile-section {
    display: none;
}

@media (max-width:768px) {
.m-left-top-2 h1 {
	 margin-left: 16%;
	 line-height: normal;
	 margin-top: 0px;
	 font-size: 59px;
 }
.main-section {
    display: none;
 }

.m-mobile-section .main-section, .m-mobile-section {
    display: block
}

.m-mobile-section {
    overflow: auto;
    width: 100%;
}

.m-mobile-section .main-section {
    width: 1500px;
    padding: 10px;
}
.m-left-top, .m-right-top, .m-right-top-2, .m-left-top-2 {
   width: 230px;
}

.m-left-top::before {
   width: 10px;
   height: 10px;
   bottom: -10px;
   left: -5px;
   z-index: 1;
}

.m-left-top-text {
   position: absolute;
   top: 30px;
   left: 30px;
   color: #fff;
   padding-right: 0px;
 }

.main-section h3 {
   margin-top: 0px;
   position: relative;
   line-height: 25px;
 }

.m-medium::before {
   width: 10px;
   height: 10px;
   top: 40px;
   left: 307px;
   z-index: 1;
 }

.m-medium {
   display: flex;
   width: 350px;
   position: relative;
}

.m-right-top-text {
   position: absolute;
   top: 33px;
   right: 34px;
   color: #fff;
   padding-left: 0%;
}

.m-medium::after {
   content: '';
   display: inline-block;
   width: 10px;
   height: 10px;
   position: absolute;
   background: #D2ADCE;
   top: 36px;
   left: 30px;
   z-index: 1;
}

.svg-line-r {
   top: -99px;
   right: -84px;
   transform: rotate(-100deg);
}

.m-sectiom-2 {
   display: flex;
   width: 100%;
}

.m-medium-2 {
   width: 350px;
   position: relative;
}

.m-medium-2::before {
   top: -15px;
   left: 171px;
   width: 10px;
   height: 10px;
}

.m-right-top-2 div {
   padding-right: 30px;
   padding-left: 17px;
   padding-bottom: 50px;
   margin-top: 15px;
}

.m-right-top-2::after {
   width: 10px;
   height: 10px;
   top: 22px;
   right: -5px;
}

.m-medium-2 div {
   padding-left: 75px;
   padding-right: 60px;
   padding-top: 15px;
}

.b-medium-2 div {
   padding-left: 25%;
   padding-right: 25%;
   padding-top: 15%;
}

.blank::before,
.blank::after {
   display: none;
}

.top-r-columne {
   width: 500px;
   display: flex;
}

.top-r-columne-blank {
   width: 250px;
   display:
}

.top-r-columne-text {
   width: 250px;
   display: flex;
   border-top: 1px solid #fff;
   border-right: 1px solid #fff;
   border-bottom: 1px solid #fff;
}

.top-r-columne-text div, .top-r-columne-text-b div {
   padding: 33px 32px;
}

.top-r-columne-text-mb {
   position: relative;
   margin-bottom: 21px;
   align-items: center;
}

.top-r-columne-text-mb::before {
   content: '';
   display: block;
   width: 1px;
   height: 55px;
   position: absolute;
   background: #fff;
   top: 0%;
   left: 0%;
   z-index: 1;
}

.top-r-columne-text-mb::after {
   content: '';
   display: inline-block;
   width: 10px;
   height: 10px;
   position: absolute;
   background: #D2ADCE;
   top: 54px;
   left: -5px;
   z-index: 1;
}

.top-r-columne-text-2 {
   position: relative;
   margin-top: 3px;
   align-items: center;
}

.top-r-columne-text-2::before {
   content: '';
   display: block;
   width: 1px;
   height: 13px;
   position: absolute;
   background: #fff;
   top: -13px;
   left: 0%;
   z-index: 1;
}

.top-r-columne-text-2::after {
   content: '';
   display: inline-block;
   width: 10px;
   height: 10px;
   position: absolute;
   background: #D2ADCE;
   top: 67px;
   right: -5px;
   z-index: 1;
}

.top-r-columne-blank-2 {
   border-bottom: 1px solid #fff;
}

.top-r-columne-text-b {
   position: relative;
   border: 0px;
   display:flex;
   margin-top: 23px;
}

.top-r-columne-text-b::after {
   content: '';
   display: inline-block;
   width: 10px;
   height: 10px;
   position: absolute;
   background: #D2ADCE;
   top: -15px;
   left: 33px;
   z-index: 1;
}

.border-0 {
   border: 0px;
 }
 

}
